/* Variables ****************************** */

:root {
    --theme-colour: #D33257;
    --theme-colour-light: #F05377;
    --theme-colour-lighter: #EB8FA4;
    --secondary-colour: #EFC800;

    --h-padding: 25px;
    --v-padding: 15px;
}

body {
    background-color: #F0F0F0;
}

/* Typography ****************************** */

html {
    font-size: 62.5%;
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
}

h2 {
    font-weight: 700;
    position: relative;
    display: inline-block;
    z-index: 1;
    margin-bottom: 15px;
}

h2::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 110%;
    background-color: var(--theme-colour-lighter);
    left: 0;
    top: 60%;
    z-index: -1;
}

h3 {
    font-size: 1.8rem;
}

section.highlight h3 {
    font-size: 2.2rem;
}

strong {
    font-weight: 700;
}

a {
    color: var(--theme-colour);
}

/* Layout ****************************** */

body {
    border-top: 5px solid var(--theme-colour);
}

#site-header,
main {
    max-width: 600px;
}

#site-header {
    color: var(--theme-colour);
    margin: 50px auto;
    padding: 0 var(--h-padding);
}

.logo {
    height: 80px;
    margin-bottom: 30px;
}

main {
    margin: 0 auto 100px;
}

section {
    margin-bottom: 50px;
    padding: var(--v-padding) var(--h-padding);
}

section.highlight {
    background-color: #fff;
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.2);
}



.meetups li,
.speakers li {
    margin-bottom: 20px;
}


.speakers li {
    overflow: auto;
}

.speakers li::after {
    content: "";
  clear: both;
  display: table;
}

.speakers li figure {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

.speakers li figure img {
    width: 100%;
}


.speakers li h5 img {
    height: 0.8em;
    margin: 0 0 0 5px;
}