/* **********************************************
 *
 *   FRONTSTACK.IO
 *   =============
 *
 *   Table of Contents:
 *      1 - Variables
 *      2 - Typography
 *      3 - Layout
 *      4 - Components
 *
 ********************************************** */

/* 1 - Variables ****************************** */

:root {
  --theme-colour: #D33257;
  --theme-colour-light: #F05377;
  --secondary-colour: #EFC800;
}

/* 2 - Typography ****************************** */

html {
  font-size: 16px;
}

body {
  color: #fff;
  color: rgba(255,255,255,0.7);
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: lowercase;
  margin-bottom: 25px;
}

h2::before {
  content: "<";
  margin-right: 10px;
}

h2::after {
  content: "/>";
  margin-left: 10px;
}

h3 {
  color: #fff;
  margin-bottom: 15px;
  font-weight: 600;
}

h2,
pre {
  font-family: "Overpass Mono", monospace;
}

pre {
  line-height: 1.8;
  white-space: pre-wrap;
  word-break: break-word;
}

pre .tag {
  font-weight: 600;
  color: var(--theme-colour);
}

pre .attr,
pre .co {
  font-weight: 600;
  color: var(--secondary-colour);
}

pre .val {
  color: var(--theme-colour-light);
}

pre a {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
  display: block;
}

a,
strong {
  color: var(--theme-colour);
}

/* 3 - Layout ****************************** */

html {
  background-color: #181818;
}

/* Menubar */

.menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3C3C3C;
  line-height: 20px;
  padding: 0 15px;
  z-index: 1;
}

.menubar button {
  height: 10px;
  width: 10px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
}

.menubar button:nth-child(1) {
  background-color: #FF625A;
}

.menubar button:nth-child(2) {
  background-color: #FFBF2F;
}

.menubar button:nth-child(3) {
  background-color: #29CB42;
}

/* Sidebar */

.sidebar {
  background-color: #333333;
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  padding: 45px 5px;
  color: #fff;
}

.sidebar li {
  line-height: 35px;
}

.sidebar a {
  color: rgba(255,255,255,0.7);
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.sidebar a span {
  display: none;
}

.sidebar a:before {
  content: "";
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  background-color: #666666;
}

a[href="#about"]:before {
  -webkit-mask: url(../images/menu-icon-frontstack.svg) no-repeat center;
  mask: url(../images/menu-icon-frontstack.svg) no-repeat center;
}

a[href="#forum"]:before {
  -webkit-mask: url(../images/menu-icon-forum.svg) no-repeat center;
  mask: url(../images/menu-icon-forum.svg) no-repeat center;
}

a[href="#meetups"]:before {
  -webkit-mask: url(../images/menu-icon-meetups.svg) no-repeat center;
  mask: url(../images/menu-icon-meetups.svg) no-repeat center;
}

a[href="#sign-up"]:before {
  -webkit-mask: url(../images/menu-icon-subscribe.svg) no-repeat center;
  mask: url(../images/menu-icon-subscribe.svg) no-repeat center;
}

.sidebar a.active,
.sidebar a:hover,
.sidebar a:focus {
  color: #fff;
}

.sidebar a.active:before,
.sidebar a:hover:before,
.sidebar a:focus:before {
  background-color: var(--theme-colour);
}

@media (min-width: 600px) {
  
  .sidebar {
    width: 150px;
    padding: 60px 15px;
  }

  .sidebar a span {
    display: block;
  }

  .sidebar a {
    justify-content: flex-start;
  }

  .sidebar a:before {
    margin-right: 0.5em;
  }

}

/* Main */

main {
  margin-left: 40px;
}

@media (min-width: 600px) {
  main {
    margin-left: 150px;
  }
}

/* Section */

.section {
  min-height: 100vh;
  padding: 50px 20px;
}

@media (min-width: 600px) {
  .section {
    padding: 70px 50px;
  }
}

.section p {
  max-width: 600px;
}

/* Footer */

footer {
  background-color: #007ad3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  text-align: right;
  color: #fff;
  font-size: 14px;
}

footer a {
  color: #fdff00;
  text-decoration: none;
}

/* 4 - Components ****************************** */

/* Logo */

.logo {
  height: 70px;
  margin-bottom: 30px;
}

/* Button */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 150px;
  background-color: #fff;
  padding: 0 15px;
  line-height: 1;
  color: var(--theme-colour);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50px;
}

/* Meetups list */

#meetups li {
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  #meetups li {
    margin-bottom: 50px;
  }
}
